/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

.p4c-control {
	background-color: #22313F;
	text-align: center;
	border-radius: 7px;
	display: table;
}

.p4c-control .btn-container {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	height: 100%;
	border-right: 2px solid #34495E;
}

.p4c-control .btn-container:last-child {
	border-right: none;
}

.p4c-control .btn-container button {
	color: #D2D7D3;
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	border: none;
}

.p4c-control .btn-container button:hover {
	background-color: #34495E;
}

.p4c-control .btn-container:first-child button {
	border-radius: 7px 0 0 7px;
}

.p4c-control .btn-container:last-child button {
	border-radius: 0 7px 7px 0;
}

.p4c-control .btn-container button img {
	height: 80%;
	vertical-align: middle;
}

.p4c-control .btn-container button.btn-edit img {
	max-height: 50% !important;
	margin-bottom: 5px;
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.p4c-control .btn-container button.btn-edit span {
	font-size: 1.1em;
}
