/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * ProviderFilter styles
 */

.leaflet-control-providerfilter {
	background-color: #fff;
}

.leaflet-control-providerfilter .hidden {
	display: none;
}

/*
 * Button
 */

.leaflet-control-providerfilter-button {
	display: inline-block;
}

.leaflet-control-providerfilter-button a {
	cursor: pointer;
}

.leaflet-control-providerfilter-button a img {
	width: 70%;
	margin: 15%;
	vertical-align: middle;
}


/*
 * Inputs
 */

.leaflet-control-providerfilter-filter {
	max-width: 230px;
	text-align: center;
	padding: 5px 0;
}

.leaflet-control-providerfilter-provider {
	display: inline-block;
	margin: 3px 5px 3px 3px;
}

.leaflet-control-providerfilter-provider input,
.leaflet-control-providerfilter-provider img {
	vertical-align: middle;
}

.leaflet-control-providerfilter-provider img {
	max-height: 32px;
	max-width: 100px;
}
