/*
 * This file is part of Pic4Carto.
 * 
 * Pic4Carto is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * Pic4Carto is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Pic4Carto.  If not, see <http://www.gnu.org/licenses/>.
 */

.p4c-whatsnext {
	background-color: #22313F;
	color: #D2D7D3;
	text-align: center;
	border-radius: 7px;
	padding: 10px;
	visibility: hidden;
	position: relative;
	display: table;
	box-shadow: 7px 7px 7px #0009;
}

.p4c-whatsnext.visible {
	visibility: visible;
}

.p4c-whatsnext > * {
	display: table-row;
	width: 100%;
}

.p4c-whatsnext > div.buttons {
	height: 13%;
}


/*
 * Titles
 */
 
.p4c-whatsnext span.title {
	font-size: 1.1em;
	font-weight: bold;
}

.p4c-whatsnext span.subtitle {
	font-size: 1.0em;
	font-style: italic;
}


/*
 * Map
 */

.p4c-whatsnext .option-area {
	height: 50%;
	padding-bottom: 10px;
}

.p4c-whatsnext .option-area .cellmap {
	width: 100%;
	height: 100%;
}


/*
 * Buttons
 */

.p4c-whatsnext div.buttons > * {
	display: inline-block;
	width: 50%;
	height: 100%;
}

.p4c-whatsnext div.buttons > form > button {
	height: 100%;
	width: 100%;
}

.p4c-whatsnext div.buttons button {
	background-color: #67809F;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
}

.p4c-whatsnext div.buttons button:hover {
	background-color: #6BB9F0;
}
